body {
      position: relative;
      background-color: #D3D3D3;
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #D3D3D3;}
  #section2 {padding-top:50px;height:250px;color: #fff; background-color: #A9A9A9;}
  #section3 {padding-top:50px;color: #fff; background-color: #D3D3D3;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

summary{
  background-color: #A9A9A9;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 50px;
  
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
  }
  
.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #A9A9A9;
  color: white;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}